body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c0d1ff;
  margin: 0;
}

.container-body{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #c0d1ff;
}

.block-wrapper{
  position: absolute;
  background: #42a1e0;
  width: 120px;
  height: 140px;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.block-wrapper button{
  padding: 10px 20px;
  background: #161616;
  color: #fff;
  cursor: pointer;
}

.block-grap{
  cursor: grab;
}

.line-contianer{
  width: 100%;
  height: 100vh;
}
